<!doctype html>
<html lang="en">
<head th:replace="layout::head('Recipe Editor | My Recipes')"></head>

<script type="text/javascript">

    function addIng()
    {
        console.log("we added an ingredient");
        document.getElementById("addIngredient").value = "true";
        document.getElementById("recipeForm").submit();
    }
    function addS()
    {
        document.getElementById("addStep").value = "true";
        document.getElementById("recipeForm").submit();
    }
</script>

<body>

<nav th:replace="layout::navbar(${username})"></nav>

  <div class="grid-container">

    <div th:replace="layout::MyRecipes"></div>

    <div class="grid-100">

      <div class="recipes">

        <form th:action = "@{'/edit/' + ${recipe.id}}" method = "post" th:object="${recipe}" id="recipeForm">

        <div class="grid-100 row controls">
          <div class="grid-50">
            <h2> Recipe Editor </h2>
          </div>
          <div class="grid-50">
            <div class="flush-right">
              <button action="submit">Save Recipe</button>
              <button name="action" value="cancel" class="secondary">Cancel</button>
            </div>
          </div>
        </div> <div class="clear"></div>



        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Photo </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <input placeholder="Url" th:field="*{photoUrl}"></input>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Name </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <input th:field="*{name}" />
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Description </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              <textarea th:field="*{description}"> </textarea>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Category </label>
            </p>
          </div>
          <div class="grid-30">
            <p>
              <select th:field="*{category}">
                <option value="">All Categories</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
              </select>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Prep Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p>
              <input th:field="*{prepTime}"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Cook Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p>
              <input th:field="*{cookTime}"/>
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p class="label-spacing">
              <label> Ingredients </label>
            </p>
          </div>
          <div class="grid-30">
            <p class="label-spacing">
              <label> Item </label>
              </p>
            </div>
            <div class="grid-30">
              <p class="label-spacing">
                <label> Condition </label>
                </p>
              </div>
              <div class="grid-20">
                <p class="label-spacing">
                  <label> Quantity </label>
                  </p>
                </div>


                <div th:each="ingredient, stat: *{mIngredientsList}" class="ingredient-row">
                  <div class="prefix-20 grid-30">
                    <p>
                      <input th:field="*{mIngredientsList[__${stat.index}__].name}" th:value="${ingredient.name}"/>
                    </p>
                  </div>
                  <div class="grid-30">
                    <p>
                      <input th:field="*{mIngredientsList[__${stat.index}__].condition}" th:value="${ingredient.condition}" />
                    </p>
                  </div>
                  <div class="grid-10 suffix-10">
                    <p>
                      <input th:field="*{mIngredientsList[__${stat.index}__].quantity}" th:value="${ingredient.quantity}"/>
                    </p>
                  </div>
                </div>


                <input type="hidden" th:field="*{addIngredient}" id="addIngredient"/>

                <div class="prefix-20 grid-80 add-row">
                  <p>
                    <button onclick="addIng()">+ Add Another Ingredient</button>
                  </p>
                </div>

              </div> <div class="clear"></div>

              <div class="grid-100 row">
                <div class="grid-20">
                  <p class="label-spacing">
                    <label> Steps </label>
                  </p>
                </div>
                <div class="grid-80">
                  <p class="label-spacing">
                    <label> Description </label>
                    </p>
                  </div>

                <div th:each="step, stat: *{instructions}" class="step">
                  <div class="prefix-20 grid-80">
                    <p>
                      <input th:field="*{instructions[__${stat.index}__].detail}" th:value="${step.detail}"/>
                    </p>
                  </div>
                </div>

                  <input id="addStep" value=""  th:field="*{addStep}" type="hidden"/>
                  <div class="prefix-20 grid-80 add-row">
                    <p>
                      <button onclick="addS()" >+ Add Another Step</button>
                    </p>
                  </div>

                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>
                </form>
              </div> <!-- recipes -->
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
        </body>
        </html>
